/* 
    Created on : Nov 3, 2017, 1:13:15 PM
    Author     : Dragana
*/
body{
    background-image: url(../img/body-bg.jpg);
}
.container-fluid{
    display: none;
}
.responsive-undu{
    display: none;
}
.icon-bar{
    background-color: #fff;
    width: 40px;
}
/* top header */
header{
    float: left;
    width: 100%;
    color: #9e2089;
    padding: 20px 20%;
    height: 120px;
}
p{
    margin-bottom: 0;
}
header p{
    margin-top: 20px;
}
header .dropdown{
    float: right;
}
header .dropdown button{
    border: none;
    padding: 20px;
    text-transform: uppercase;
}
header .dropdown ul li div{
    border-radius: 6px;
    background: #fff;
    padding: 10px 20px;
}
header .dropdown ul li label{
    color: #ababab;
}
header .dropdown ul li span{
    width: 100%;
    float: left;
    text-align: left;
}
header .dropdown ul li span p{
    color: #3c3b3b;
}
header .dropdown-menu{
    left: -20%;
}
header .dropdown ul li input{
    margin: 20px 0 20px 30px;
}
header .dropdown ul li input[type="radio"]:checked + label {
    color: #900079;
}
.fa.fa-globe{
    font-size: 20px;
    margin-right: 4px;
}
.undu{
    float: right;
    margin-right: 20px;
}
.logo{
    right: -20px;
    top: 12%;
    float: left;
    width: 100%;
    position: absolute;
}
/* logo */
.logo .container{
    -webkit-box-shadow: 10px 10px 10px 0px rgba(138,135,138,1);
    -moz-box-shadow: 10px 10px 10px 0px rgba(138,135,138,1);
    box-shadow: 10px 10px 10px 0px rgba(138,135,138,1);
    z-index: 1;
    height: 120px;
    background: rgba(164,167,169,1);
    background: -moz-linear-gradient(left, rgba(164,167,169,1) 0%, rgba(106,106,106,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,167,169,1)), color-stop(100%, rgba(106,106,106,1)));
    background: -webkit-linear-gradient(left, rgba(164,167,169,1) 0%, rgba(106,106,106,1) 100%);
    background: -o-linear-gradient(left, rgba(164,167,169,1) 0%, rgba(106,106,106,1) 100%);
    background: -ms-linear-gradient(left, rgba(164,167,169,1) 0%, rgba(106,106,106,1) 100%);
    background: linear-gradient(to right, rgba(164,167,169,1) 0%, rgba(106,106,106,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4a7a9', endColorstr='#6a6a6a', GradientType=1 );
}
.logo img{
    margin: 0 auto;
    display: block;
}
/* content */
.content{
    text-align: center;
    float: left;
    width: 100%;
    padding: 30px;
}
.content h1{
    margin-top: 100px;
    color: #5f5f5f;
}
.content p{
    text-align: left;
    margin-top: 30px;
    color: #b5b5b5;
}
.content ul p{
    margin-bottom: 75px;
    color: #212121;
    margin-top: 0;
    text-align: center;
}
.content .container{
    font-size: 17px;
    padding-left: 60px;
    padding-right: 60px;
    background: #fff;
    border: 1px solid #cdcbcb;
}
.content ul{
    padding-left: 0;
}
.content .question{
    padding: 70px 0;
    border-bottom: 1px solid #eeeeee;
}
.content ul li{
    display: inline-block;
}
.content .fa-star{
    color: #d2d2d2;
}
.content .fa-star.click{
    color: #900079;
}
/* novo*/
#anketa{
    border: 3px solid red;
    min-height: 150px;
    margin-top: 60px;
}