/* 
    Created on : Nov 3, 2017, 1:13:38 PM
    Author     : Dragana
*/
@media(max-width:480px){
    .container-fluid{
        display: block;
    }
    header{
        height: 222px;
        color: #fff;
        background: black;
        padding: 0 12%;
        background: #000;
        background: rgba(0, 0, 0, .7);
    }
    .logo {
        z-index: -2;
    }
    .undu,.dropdown{
        float: left;
        width: 100%;
        background: transparent;
    }
    button{
        background: transparent;
        background-color: transparent;
    }
    .navbar-header{
        margin-top: -40px;
        width: 50px;
        float: right;
    }
    .responsive-undu{
        display: block;
        margin-left: 20px;
    }
    .undu{
        display: none;
    }
    .content{
        padding: 12px;
    }
    .content p, .content h3{
        text-align: center;
        font-size: 16px;
    }
    header .dropdown{
        margin-top: 40px;
    }
    .responsive-undu{
        margin-top: 40px;
    }
    header .dropdown-menu{
        left: 0;
    }
}

